
<div class="booths big">
  <div class="row">                           
    <img class="booth_img" usemap="#big_booth_img" src="<%=asset_path 'booth/booths.png'%>" alt="booth"></img>
      <map name="big_booth_img">
       <area shape="rect" coords="95,108,240,175" href="/booth/1" alt="신소재">
       <area shape="rect" coords="335,108,400,175" href="/booth/2" alt="산공">
       <area shape="rect" coords="410,108,475,175" href="/booth/3" alt="옥타브">
       <area shape="rect" coords="485,108,555,175" href="/booth/4" alt="공행">
       <area shape="rect" coords="565,108,630,175" href="/booth/5" alt="4M">
       <area shape="rect" coords="640,108,790,175" href="/booth/6" alt="화생공">
       <area shape="rect" coords="800,108,870,175" href="/booth/8" alt="도시">
       <area shape="rect" coords="980,108,1060,175" href="/booth/7" alt="BPM">
       
       <area shape="rect" coords="95,352,160,415" href="/booth/9" alt="일본">
       <area shape="rect" coords="170,352,240,415" href="/booth/10" alt="중국">
       <area shape="rect" coords="250,352,315,415" href="/booth/11" alt="창융">
       <area shape="rect" coords="330,352,395,415" href="/booth/12" alt="설비">
       <area shape="rect" coords="410,352,475,415" href="/booth/13" alt="Asound">
       <area shape="rect" coords="485,352,550,415" href="/booth/14" alt="산디">
       <area shape="rect" coords="565,352,630,415" href="/booth/15" alt="전기">
       <area shape="rect" coords="640,352,705,415" href="/booth/16" alt="위키드">
      </map>
  </div>
</div>

<div class="booths large">
  <div class="row">
    <img class="booth_img" usemap="#large_booth_img" src="<%=asset_path 'booth/booths.png'%>" alt="booth"></img>
      <map name="large_booth_img">
       <area shape="rect" coords="80,90,200,140" href="/booth/1" alt="신소재">
       <area shape="rect" coords="275,90,330,140" href="/booth/2" alt="산공">
       <area shape="rect" coords="340,90,390,140" href="/booth/3" alt="옥타브">
       <area shape="rect" coords="405,90,455,140" href="/booth/4" alt="공행">
       <area shape="rect" coords="470,90,520,140" href="/booth/5" alt="4M">
       <area shape="rect" coords="530,90,650,140" href="/booth/6" alt="화생공">
       <area shape="rect" coords="665,90,720,140" href="/booth/8" alt="도시">
       <area shape="rect" coords="810,90,880,140" href="/booth/7" alt="BPM">
       
       <area shape="rect" coords="78,293,130,345" href="/booth/9" alt="일본">
       <area shape="rect" coords="140,293,195,345" href="/booth/10" alt="중국">
       <area shape="rect" coords="205,293,260,345" href="/booth/11" alt="창융">
       <area shape="rect" coords="270,293,325,345" href="/booth/12" alt="설비">
       <area shape="rect" coords="335,293,390,345" href="/booth/13" alt="Asound">
       <area shape="rect" coords="400,293,455,345" href="/booth/14" alt="산디">
       <area shape="rect" coords="465,293,520,345" href="/booth/15" alt="전기">
       <area shape="rect" coords="530,293,585,345 " href="/booth/16" alt="위키드">
      </map>
  </div>
</div>

<div class="booths desk">
  <div class="row">
    <img class="booth_img" usemap="#booth_img" src="<%=asset_path 'booth/booths.png'%>" alt="booth"></img>
      <map name="booth_img">
       <area shape="rect" coords="60,70,153,110" href="/booth/1" alt="신소재">
       <area shape="rect" coords="215,70,255,110" href="/booth/2" alt="산공">
       <area shape="rect" coords="265,70,305,110" href="/booth/3" alt="옥타브">
       <area shape="rect" coords="315,70,355,110" href="/booth/4" alt="공행">
       <area shape="rect" coords="365,70,405,110" href="/booth/5" alt="4M">
       <area shape="rect" coords="412,70,505,110" href="/booth/6" alt="화생공">
       <area shape="rect" coords="512,70,555,110" href="/booth/8" alt="도시">
       <area shape="rect" coords="630,70,680,110" href="/booth/7" alt="BPM">
       
       <area shape="rect" coords="60,225,100,265" href="/booth/9" alt="일본">
       <area shape="rect" coords="110,225,153,265" href="/booth/10" alt="중국">
       <area shape="rect" coords="160,225,200,265" href="/booth/11" alt="창융">
       <area shape="rect" coords="210,225,255,265" href="/booth/12" alt="설비">
       <area shape="rect" coords="260,225,305,265" href="/booth/13" alt="Asound">
       <area shape="rect" coords="310,225,355,265" href="/booth/14" alt="산디">
       <area shape="rect" coords="360,225,405,265" href="/booth/15" alt="전기">
       <area shape="rect" coords="410,225,455,265" href="/booth/16" alt="위키드">
      </map>
  </div>
</div>

<div class="booths mini_desk">
  <div class="row">
    <img class="booth_img" usemap="#mini_booth_img" src="<%=asset_path 'booth/mobile_booths.png'%>" alt="booth"></img>
      <map name="mini_booth_img">
       <area shape="rect" coords="10,28,100,68" href="/booth/1" alt="신소재">
       <area shape="rect" coords="155,28,200,68" href="/booth/2" alt="산공">
       <area shape="rect" coords="205,28,245,68" href="/booth/3" alt="옥타브">
       <area shape="rect" coords="255,28,295,68" href="/booth/4" alt="공행">
       <area shape="rect" coords="305,28,345,68" href="/booth/5" alt="4M">
       <area shape="rect" coords="350,28,440,68" href="/booth/6" alt="화생공">
       <area shape="rect" coords="450,28,490,68" href="/booth/8" alt="도시">
       <area shape="rect" coords="560,28,610,68" href="/booth/7" alt="BPM">
       
       <area shape="rect" coords="8,180,50,220" href="/booth/9" alt="일본">
       <area shape="rect" coords="55,180,95,220" href="/booth/10" alt="중국">
       <area shape="rect" coords="105,180,145,220" href="/booth/11" alt="창융">
       <area shape="rect" coords="155,180,195,220" href="/booth/12" alt="설비">
       <area shape="rect" coords="205,180,245,220" href="/booth/13" alt="Asound">
       <area shape="rect" coords="255,180,295,220" href="/booth/14" alt="산디">
       <area shape="rect" coords="300,180,340,220" href="/booth/15" alt="전기">
       <area shape="rect" coords="350,180,390,220" href="/booth/16" alt="위키드">
      </map>
  </div>
</div>

<div class="booths tablet">
  <div class="row">
    <img class="booth_img" usemap="#tablet_booth_img" src="<%=asset_path 'booth/mobile_booths.png'%>" alt="booth"></img>
      <map name="tablet_booth_img">
       <area shape="rect" coords="8,20,73,50" href="/booth/1" alt="신소재">
       <area shape="rect" coords="115,20,145,50" href="/booth/2" alt="산공">
       <area shape="rect" coords="150,20,180,50" href="/booth/3" alt="옥타브">
       <area shape="rect" coords="185,20,215,50" href="/booth/4" alt="공행">
       <area shape="rect" coords="220,20,250,50" href="/booth/5" alt="4M">
       <area shape="rect" coords="255,20,320,50" href="/booth/6" alt="화생공">
       <area shape="rect" coords="325,20,355,50" href="/booth/8" alt="도시">
       <area shape="rect" coords="408,20,445,50" href="/booth/7" alt="BPM">
       
       <area shape="rect" coords="5,130,35,160" href="/booth/9" alt="일본">
       <area shape="rect" coords="40,130,70,160" href="/booth/10" alt="중국">
       <area shape="rect" coords="75,130,105,160" href="/booth/11" alt="창융">
       <area shape="rect" coords="112,130,142,160" href="/booth/12" alt="설비">
       <area shape="rect" coords="148,130,178,160" href="/booth/13" alt="Asound">
       <area shape="rect" coords="183,130,213,160" href="/booth/14" alt="산디">
       <area shape="rect" coords="218,130,248,160" href="/booth/15" alt="전기">
       <area shape="rect" coords="254,130,284,160" href="/booth/16" alt="위키드">
      </map>
  </div>
</div>

<div class="booths mobile">
  <div class="row">
    <img class="booth_img" usemap="#mobile_booth_img" src="<%=asset_path 'booth/mobile_booths.png'%>" alt="mobile_booth"></img>
      <map name="mobile_booth_img">
       <area shape="rect" coords="5,18,65,45" href="/booth/1" alt="신소재">
       <area shape="rect" coords="102,18,128,45" href="/booth/2" alt="산공">
       <area shape="rect" coords="133,18,160,45" href="/booth/3" alt="옥타브">
       <area shape="rect" coords="165,18,190,45" href="/booth/4" alt="공행">
       <area shape="rect" coords="195,18,220,45" href="/booth/5" alt="4M">
       <area shape="rect" coords="225,18,285,45" href="/booth/6" alt="화생공">
       <area shape="rect" coords="290,18,315,45" href="/booth/8" alt="도시">
       <area shape="rect" coords="362,18,395,45" href="/booth/7" alt="BPM">
       
       <area shape="rect" coords="5,117,30,142" href="/booth/8" alt="일본">
       <area shape="rect" coords="35,117,60,142" href="/booth/9" alt="중국">
       <area shape="rect" coords="70,117,95,142" href="/booth/10" alt="창융">
       <area shape="rect" coords="100,117,125,142" href="/booth/11" alt="설비">
       <area shape="rect" coords="132,117,158,142" href="/booth/12" alt="Asound">
       <area shape="rect" coords="165,117,190,142" href="/booth/13" alt="산디">
       <area shape="rect" coords="195,117,220,142" href="/booth/14" alt="전기">
       <area shape="rect" coords="225,117,252,142" href="/booth/15" alt="위키드">
      </map>
  </div>
</div>

<div class="booths mini_mobile">
  <div class="row">
    <img class="booth_img" usemap="#mini_mobile_booth_img" src="<%=asset_path 'booth/mobile_booths.png'%>" alt="mobile_booth"></img>
      <map name="mini_mobile_booth_img">
       <area shape="rect" coords="5,15,50,35" href="/booth/1" alt="신소재">
       <area shape="rect" coords="80,15,103,35" href="/booth/2" alt="산공">
       <area shape="rect" coords="105,15,128,35" href="/booth/3" alt="옥타브">
       <area shape="rect" coords="130,15,153,35" href="/booth/4" alt="공행">
       <area shape="rect" coords="155,15,178,35" href="/booth/5" alt="4M">
       <area shape="rect" coords="180,15,228,35" href="/booth/6" alt="화생공">
       <area shape="rect" coords="230,15,253,35" href="/booth/8" alt="도시">
       <area shape="rect" coords="290,15,315,35" href="/booth/7" alt="BPM">
       
       <area shape="rect" coords="3,93,25,113" href="/booth/9" alt="일본">
       <area shape="rect" coords="30,93,50,113" href="/booth/10" alt="중국">
       <area shape="rect" coords="55,93,75,113" href="/booth/11" alt="창융">
       <area shape="rect" coords="80,93,100,113" href="/booth/12" alt="설비">
       <area shape="rect" coords="105,93,125,113" href="/booth/13" alt="Asound">
       <area shape="rect" coords="130,93,150,113" href="/booth/14" alt="산디">
       <area shape="rect" coords="155,93,175,113" href="/booth/15" alt="전기">
       <area shape="rect" coords="180,93,200,113" href="/booth/16" alt="위키드">
      </map>
  </div>
</div>