<div id="myCarousel" class="carousel slide demo-event" data-ride="carousel" data-interval="5000">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
    <li data-target="#myCarousel" data-slide-to="4"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
     <img class="clickable"  id="event-img" src="<%=asset_path 'event/poster1-1.jpg'%>" data-toggle="modal" data-target="#event_1" alt="멍.냥 페스티벌" />
    </div>
    <div class="item">
      <img class="clickable"  id="event-img" src="<%=asset_path 'event/poster2.jpg'%>" data-toggle="modal" data-target="#event_2" alt="배틀 유니브" />
    </div>
    <div class="item">
      <img class="clickable"  id="event-img" src="<%=asset_path 'event/poster3-1.png'%>" data-toggle="modal" data-target="#event_3" alt="플리마켓" />
    </div>
    <!--<div class="item">-->
    <!--  <img class="clickable"  id="event-img" src="<%=asset_path 'event/poster4-1.png'%>" data-toggle="modal" data-target="#event_4" alt="히나리움" />-->
    <!--</div>-->
    <div class="item">
      <img class="clickable"  id="event-img" src="<%=asset_path 'event/poster5-1.png'%>" data-toggle="modal" data-target="#event_5" alt="페이스,헤나" />
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <!--<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>-->
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <!--<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>-->
    <span class="sr-only">Next</span>
  </a>
</div>


<!-- Modal-1 -->
<div class="container event_modal modal fade" id="event_1" tabindex="-1" role="dialog" aria-labelledby="event_1_1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title text-center" id="event_1_1">멍∙냥 페스티벌</h3>
      </div>
      <div class="modal-body">
        <p>
          일시: 5월 23일</br></br>
          시간: 14:00 ~ 18:00</br></br>
          장소: 원형광장</br></br>
          
          # 반려동물 행동교정 #</br>
          ✔ 모집기간 : 5월 7일 ~ 5월18일</br>
          ✔ 신청방법 : 010-4910-7411 으로 이름, 견종, 나이, 문제점을 문자로 보내주세요!</br>
          * 원활한 교육을 위해 신청은 5마리만 가능합니다!
        </p>
        <table class="table">
          <tr class="active">
            <th>시간</th>
            <th>일정</th>
          </tr>
          <tr>
            <td>14:00 ~ 16:00</td>
            <td>무료 미용부스</br>
                무료 건강진단 (수의사)</br>
                장난감 만들기</br>
                발도장 만들기</br>
                사진 스튜디오
            </td>
          </tr>
          <tr>
            <td>16:00 ~ 17:30</td>
            <td>반려동물 행동 교정프로그램</td>
          </tr>
          <tr>
            <td>17:30 ~ 18:00</td>
            <td>행사 폐막 및 정리</td>
          </tr>
        </table>
      </div>
      <div class="modal-footer">
       <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal-2 -->
<div class="container event_modal modal fade" id="event_2" tabindex="-1" role="dialog" aria-labelledby="event_2_1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title text-center" id="event_2_1">배틀유니브</h3>
      </div>
      <div class="modal-body">
        ⭐️참가비: 상상 유니브 참가 신청(필수!)</br></br>
        
        ⭐️<a href="https://goo.gl/YeBpyH">유니브 참가 신청 페이지</a>⭐️</br></br>
        <!--⭐️유니브 참가 신청 페이지</br>-->
        <!--👉<a href="https://goo.gl/YeBpyH">https://goo.gl/YeBpyH</a></br></br>-->
        
        ⭐️장소 : N6동 앞(N2동 뒷편)</br></br>
        
        ⭐️신청 기간 : 5월 15일 ~ 5월 21일</br></br>
      
        ⭐️신청•참여 방법</br></br>
      
        1. 5월 23일, 16:00 ~ 20:00, 어느 누구나( 5인 1팀 )</br>
        ✅ 오픈 카톡으로 양식받고 신청하기</br>
        ✅ 한 팀에 한밭대생 한명 이상 참여 (외부인 참여 가능)</br>
        ✅ >><a href="https://open.kakao.com/o/suw9dCM">오픈 카톡</a><<</br>
        ✅ 참가자 전원 상상 유니브 참가 신청 필수</br></br>
        
        2. 5월 24일, 12:00 ~ 16:00, 학과 대항전: 최고의 학과는? ( 8인 1팀 )</br>
        ✅ 학회장이 띄운 공지를 보고 학회장에게 신청! </br>
        ✅ 학과 당 한 팀 (주•야간 통합)</br>
        ✅ 참가자 전원 상상 유니브 참가 신청 필수</br></br>
        
        🌀토너먼트 형식</br>
        🌀궁금하신 점은 오픈 카톡이 아닌 페이스북 메세지로 주세요. >><a href="https://www.facebook.com/permalink.php?story_fbid=586752448357669&id=496324237400491">페이스북</a><<</br>
        🌀푸짐한 상품이 여러분을 기다리고 있습니다!</br>
      </div>
      <div class="modal-footer">
       <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal-3-->
<!--<div class="container event_modal modal fade" id="event_3" tabindex="-1" role="dialog" aria-labelledby="event_3_1" aria-hidden="true">-->
<!--  <div class="modal-dialog">-->
<!--    <div class="modal-content">-->
<!--      <div class="modal-header">-->
<!--        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
<!--        <h3 class="modal-title text-center" id="event_3_1">플리마켓</h3>-->
<!--      </div>-->
<!--      <div class="modal-body">-->
<!--        <p>-->
<!--          일시: 5월 23일 ~ 5월 25일</br></br> -->
<!--          시간 : 12:00 ~ 20:00</br></br>-->
<!--          장소: 운동장 옆 자갈밭</br></br>-->
          <!--대동제 기간 동안 한밭대학교 재학생들이 참여하며, 천막,의자-->
          <!--, 테 이블로 이루어진 플리마켓을 직접 홍보 및 운영하여, 좋-->
          <!--은 질과 저 렴한 가격의 물건을 판매하거나 체험형 액티비티-->
          <!--부스를 설치하여 진행.-->
<!--        </p>-->
<!--      </div>-->
<!--      <div class="modal-footer">-->
<!--       <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!-- Modal-4-->
<!--<div class="container event_modal modal fade" id="event_4" tabindex="-1" role="dialog" aria-labelledby="event_4_1" aria-hidden="true">-->
<!--  <div class="modal-dialog">-->
<!--    <div class="modal-content">-->
<!--      <div class="modal-header">-->
<!--        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
<!--        <h3 class="modal-title text-center" id="event_4_1">인생사진 페스티벌</h3>-->
<!--      </div>-->
<!--      <div class="modal-body">-->
<!--        <p>-->
<!--          일시: 5월 23일 ~ 5월 25일</br></br>-->
<!--          시간: 12:00 ~ 18:00</br></br>-->
<!--          장소: 한밭대학교 대운동장 및 N6동 일대</br></br>-->
          <!--한밭대학교 학생들을 대상으로 , 친구들과 함께 한밭대학교-->
          <!--대동제 를 추억하고 기억할 수 있는 행사 , 한밭대학교 대운-->
          <!--동장에 포토존 을 설치하여 진행.-->
<!--        </p>-->
<!--        <img class="modal-img"  src="<%=asset_path 'event/pic_example.png'%>"></img>-->
<!--      </div>-->
<!--      <div class="modal-footer">-->
<!--       <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!-- Modal-5-->
<div class="container event_modal modal fade" id="event_5" tabindex="-1" role="dialog" aria-labelledby="event_5_1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title text-center" id="event_5_1">헤나, 페이스페인팅, 히바리움 만들기</h3>
      </div>
      <div class="modal-body">
        <p>
          일시: 5월 23일 ~ 5월 25일</br></br>
          시간: 12:00 ~ 18:00</br></br>
          장소: 혜움광장</br></br>
          <!--대동제 기간 동안 , 축제에 참가하는 사람들을 대상으로 하는-->
          <!--헤나 와 페이스 페인팅 부스 운영.-->
        </p>
        <div class="row">
          <div class="col-sm-6 "><img class="modal-img" src="<%=asset_path 'event/face-painting.png'%>"></img></div>
          <div class="col-sm-6 "><img class="modal-img" src="<%=asset_path 'event/hena.png'%>"></img></div>
        </div>
      </div>
      <div class="modal-footer">
       <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>