
<!DOCTYPE html>
<html>
<head>
  <title>LikeHanbat</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"> 
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- 합쳐지고 최소화된 최신 CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  
  <!-- 부가적인 테마 -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
  
  <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script> 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  
  <!--Naver map-->
  <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?clientId=cEdgItiCF3B6Vk3mTOpA"></script>

  <!--favicon-->
  <link rel="shortcut icon" href="<%=asset_path 'fav5.png'%>">
  
  <script>
    console.log("멋쟁이 사자처럼 at 한밭대학교 화이팅!!!!");
    console.log("┬       ─┬─  ┬  /  ┌──── ┬       ─┬─  ┌───┐ ┬     ┬ \n"+
                "│        │   │ /   │     │        │   │   │ │ \\   │ \n"+
                "│        │   │<    ├──── │        │   │   │ │  \\  │ \n"+
                "│        │   │ \\   │     │        │   │   │ │   \\ │ \n"+
                "└─────  ─┴─  ┴  \\  └──── └─────  ─┴─  └───┘ ┴     ┴ \n");
    console.log("박겸손:)윤동환:)이혜원:)윤동현:)");
  </script>
</head>
<body>
  <%= render 'layouts/navigation' %>
  <%= yield %>
  <br>
  <%= render 'layouts/footer' %>
</body>
</html>
